:root{
    font-size: 16px;
    font-weight:400 ;
    box-sizing: border-box;
    font-family:"ubuntu",sans-serif;
    --rojo:#9f3647;
    --texto-blanco:#ffffff;
    --fondo-negro:black ;
    --fondo-blanco:white;
}

/*rem es relativo al root
el font-size es por defecto de 16 px.
entonces = 2rem -->2* 16px = 32px */
body{
    background-color: var(--fondo-negro);
}
*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}


h2{
    color: white;
}
.texto-blanco{
    color: var(--texto-blanco);
}


.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

    .header{
   
        background-color: var(--rojo);
        font-size: 19px;
       padding-top: 2vh;
        height:9vh;
        width: 98.5vw;
        min-height: 60px;
       padding-bottom: 2vh;                                                                                                                                                                              
       display: flex;
       justify-content: space-between;
       /* display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-right: 40ppx;
        padding:1.5rem 0 ;*/
        
    }
    .header_logo{
        /* height:5vh;*/
         display: inline-block;
         margin-left: 2vw;
         margin-top: 2rem;
         /*width:35vw;
       
        font-size: 1rem;
         padding: 1rem 1rem;
         font-weight: 100;*/
        
     }
     .header_menu{
        /* height:10vh;
         width: 45vw;
         padding-top: 2vh;
         font-size: 1rem;*/
        
         display: flex;
        /*padding-left: 6vw; */
         align-items: center;
        /* margin-left: 9em;
         padding-top: 1em;*/
     
         margin-right: 2rem;
         margin-top: 1.5rem;
        
     }

     .iniciar_sesion_btn{
        background-color: black;
        color: white;
        
        /*padding: 1vh;*/
        border-radius: 10%;
        text-decoration: none;
    }
  
  
  
.main_btn_registrarse{
    width: 5vw;
    min-width: 15vw;
    height: 9vh;
    min-height: 50px;
    margin-top: 5vh;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 700;
    background-color:var(--rojo) ;
    color: var(--texto-blanco);

    text-decoration: none;
   
}
  
.main_btn_registrarse:hover{
    
    transform: scale(1);
    box-shadow: 0 0  10px rgba(255, 255, 255, 0.3);

}
/* ESPECIFICIDAD
Inline > id > clase >tipo
Importtant*/
.main{
    background-color: var(--fondo-negro);
    background-image:
    linear-gradient(to right top, #0000008a,#0000008a),
    url(../imgs/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 80vh;   /* vh altura relativa */
    width: 98.5vw; /* vw ancho relativo */
    display: flex;
     flex-direction: column;
     align-items: center;
     
    text-align: center;
    min-height: 400px;
}
.main h1 {
    font-size: 3rem;/*3 * 16px*/    
    /*text-align: center;*/
    padding-top: 5vh;
}

.main h2 {
    font-size: 2rem;
    padding-top: 5vh;
    font-weight: 300;
}
.main_titulo{
    padding-top: 20vh;
    padding-bottom:5vh ;
    font-size: 3em; /*unidad de medidad relativa */
}
.main_subtitulo{
    margin-bottom: 5vh;

}

.header_menu a:hover {
    background-color: var(--color-primario);
    background-origin: inherit;
    /*border: 1px solid var(--fondo-negro);*/
    box-shadow: 1px 1px 1px 1px var(--fondo-negro);
 
}

.header_menu a{
    text-decoration: none;
    color:var(--texto-blanco);
    display:inline-block;
  padding-top: 2vh; 
    padding-left: 2vw;
    padding-right: 1vw;
    margin-right: 5px;
    font-size: 1em; 
    border-radius: 5px;
    height:5vh;
    width: 9vw;
  
}
.header_logo a{
    color:var(--texto-blanco);
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.1em;
    font-weight: 700;
    
    text-decoration: none;

}
.header_logo h3{
    display: inline;
    font-weight: 100;
    font-size: 1.1em;
    font-weight: 700;
}
.busqueda{
    text-align: center;
     height: 30vh;
    background-color:var(--fondo-negro) ;
    color: var(--texto-blanco);
     padding: 15vh;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.tendencias-pelis{
    background-color:var(--fondo-negro) ;
    color: var(--texto-blanco);
    text-align: center;
    font-size: 1.5rem;
    margin: 6rem;
    margin-top: 1rem;
  
}
.h2 + form{
padding-top: 5vh;
}
.input_search{
    padding: 1vw 3vh;
    text-transform: capitalize;
    border-radius: 25px;
    width: 50vw;
    border: none;
    /*tph sacar borde ccuando hago foco*/
}
.button_search{
    padding: 1vw 3vh;
    text-transform: capitalize;
    border-radius: 25px;
    border: 2px solid var(--texto-blanco);
    background-color: var(--rojo);
    color: var(--texto-blanco);
    font-size: 1rem;
    font-weight: bold;
}
.button_search:hover{
    font-size: 1.1rem;
}
hr{
     margin-top: 5rem;
     border: none;
     border-top: 1px solid var(--rojo);
}

.h2 + hr{
    padding: 0;
}

.elemento_fijo{
position:fixed;
top:10px;
left: 10px;
}
.contenedor-peliculas{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 5rem;
    
}
.peli-imagen{
  max-width: 90%; 
  border-radius:1rem;

}
.titulo-tendencias{
    margin: 3rem;

}
.pelis{
    position: relative;

}
  /* .pelis{
   border-radius: 10px;
   min-height: 200px;
   padding: 20px;
   position: relative;
   background-size: cover;
    height: auto;
   width: 50%;
   max-width: 1200px;
    display: grid;
    grid-template-columns:repeat(3,1fr);}
/* height: 80vh; 
width: 100vw; */

.botones_antSig{
    border-color: #ffffff;
    background-color: var(--rojo);
    color:var(--texto-blanco);
    border-radius: 5px; 
    padding: 20px;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.buttons{
    height: auto;
    display: flex;
    
    width: 18vw;
    gap:1rem;
    margin: auto;
}
footer{
  display: flex;
    
    
     background-color: var(--rojo);
     padding-top: .40rem;
     height:15vh;
     width: 98.5vw;
     min-height: 60px;
  
    
   
}
.footer-texto{
   display: flex;
   margin: auto;
   max-width: 600rem; ;
   
   gap: 20px;
    
}
.footer-texto a{
   
    text-decoration: none;
    color: var(--texto-blanco);
    display: flex;
    font-size: 19px;
    padding: 10px;
    border-radius: 7px;
}
.button-adm{
background-color: var(--fondo-negro);
}

.contenedor-aclamadas{
    height:70vh;
    width: 70vw;
    min-height: 60px;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}
.pelis-aclamadas{
    max-width: 200px;
    display: flex;
    gap: 20px;
    padding-top: 4rem;

}
.titulo-aclamadas{
    padding-top: .6px;
    
}
.peli-imagen-aclamada{
    max-width: 90%; 
  border-radius:1rem;
  
  }
